<!-- <div class="bg-image"></div> -->
<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>business_center</mat-icon> Sistema de Inventario Web
    </a>
    <ul>
      <li>
        <a (click)="accionLogin()">IniciarSesion <i class="fa fa-sign-in"></i></a>
      </li>
    </ul>
  </nav>
</div>
<div class="flex">
  <img src="assets/img/logospa.jpg" alt="logo">
  <img src="assets/img/titulo.png" alt="logo2">
</div>
<div class="footer" id="signup">
  <h2>Derechos reservados S.P.A.</h2>
</div>